@model IEnumerable<BGN.Shared.CategoryDto>
@{
    var isSelected = 0;
    if(ViewData["SelectedCategoryId"] != null)
    {
        isSelected = ViewData["SelectedCategoryId"] as int? ?? 0;
    }
}
@foreach (var category in Model)
{
    if(category.Id == isSelected)
    {
        <option value="@category.Id" selected>@category.Name</option>
    }
    else
    {
        <option value="@category.Id">@category.Name</option>
    }
}