@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome on BGN</h1>
    <p>The place to be if you want to get gaming!<br />Begin, Gaming, Now</p>
</div>

<div id="carouselMainHomeIndex" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active data-bs-interval="5"">
      <img src="~/img/carousel/BoardGamesCarousel1.jpg" class="d-block " alt="FirstCarouselImg">
    </div>
    <div class="carousel-item data-bs-interval="5"">
      <img src="~/img/carousel/BoardGamesCarousel2.jpg" class="d-block w-100 " alt="SecondCarouselImg">
    </div>
    <div class="carousel-item data-bs-interval="5"">
      <img src="~/img/carousel/BoardGamesCarousel4.jpg" class="d-block  " alt="ThirdCarouselImg">
    </div>
  </div>
</div>
