@model IEnumerable<BGN.Shared.GenreDto>
@{
    var setSelected = (int)ViewData["SelectedGenreId"];
}

@foreach (var genre in Model)
{
    if(genre.Id == setSelected)
    {
        <option value="@genre.Id" selected>@genre.Name</option>
    }
    else
    {
        <option value="@genre.Id">@genre.Name</option>
    }
}